.idea/
packages/**/dist
packages/**/build
packages/backend/static/*
packages/shared/build/
packages/backend/build/
packages/frontend/build/
node_modules/
coverage/
dist/
build/
db/
yarn-*.log
lerna-*.log
npm-*.log
.DS_Store
tsconfig.tsbuildinfo
.env.local
