.mobile {
    display: none;
}

.desktop {
    display: display;
    overflow: hidden;
    position: relative;
}

@media (max-width: 600px) {
    .mobile {
        display: block;
    }

    .desktop {
        display: none;
    }
}
